# NEXT_PUBLIC_SAP_DATABASES='[
#   { "CompanyName": "SuperNova Solutions SQL", "CompanyDB": "SBODemoAU" },
#   { "CompanyName": "SuperNova Solutions HANA", "CompanyDB": "SBODEMOAU" }
# ]'

# NEXT_PUBLIC_ATTACHMENT_SOURCE_PATH='C:\Program Files\SAP\SAP Business One\Attachments'
# NEXT_PUBLIC_API_URL="http://portalapi.sapbusinessone.tech:8081/"
# NEXT_PUBLIC_ReportingApi_URL="http://192.168.19.16:7878/"