<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS HttpPlatformHandler config for Next.js Standalone.
  %HTTP_PLATFORM_PORT% is expanded by IIS automatically in the 'value' attribute.
-->
<configuration>
  <system.webServer>
    <!-- Remove the default static file handler so Node handles everything -->
    <handlers>
      <remove name="StaticFile" />
      <add name="httpPlatformHandler" path="*" verb="*"
           modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform
      processPath="C:\Program Files\nodejs\node.exe"
      arguments="--preserve-symlinks --preserve-symlinks-main .\server.js"
      stdoutLogEnabled="true"
      stdoutLogFile=".\logs\node"
      startupTimeLimit="120"
      requestTimeout="00:04:00"
      processesPerApplication="1"
      rapidFailsPerMinute="10">
      <environmentVariables>
        <environmentVariable name="PORT"     value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="HOSTNAME" value="0.0.0.0" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="SESSION_COOKIE_SECURE" value="false" />
      </environmentVariables>
    </httpPlatform>
    <!-- Increase default upload / response size limits -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
